.thanks{
    .conteiner-ty{
        .convert{ text-align: center;
            .title-thanks{ font-family: "Lora", sans-serif; font-weight: 700; font-size: 54px; line-height: 74px;}
            .aftertext{}
            .go-to-main{ display: block;}

        }
    }
}