<div class="index-form">
    <form action="ajax.php" class="index-form-main">
        <div class="form_row">
            <div class="form-title">Ваше Имя <span>*</span></div>
            <div class="form_input">
                <input type="text" name="input-name1" required="required" />
            </div>
        </div>
        <div class="form_row">
            <div class="form-title">Ваша Фамилия <span>*</span></div>
            <div class="form_input">
                <input type="text" name="input-name3" required="required" />
            </div>
        </div>
        <div class="form_row">
            <div class="form-title">Мобильный телефон <span>*</span></div>
            <div class="form_input">
                <input type="text" name="input-name2" class="tel-mask" required="required" />
            </div>
        </div>

        <!--
        <div class="form_row">
            <div class="form-title">Ваш город <span>*</span></div>
            <div class="form_input">
                <input type="text" name="input-name4" required="required" />
            </div>
        </div>
        -->
        <div class="form_row form_row_submit">
            <div class="submit-wrap">
                <button type="submit" class="button">
                    <span>Показать предложения от банков!</span>
                </button>
            </div>
            <div class="submit-description">
                <span class="submit-description-icon"></span>
                <span class="submit-description-text">Ваши даные абсолютно защищены</span>
            </div>
        </div>
    </form>
</div>