<div class="wrap-text">
    <h2>ВАЖНО!</h2>
    <h3>Указывайте только корректные данные.</h3>
    <div class="after-text">
        <p>Это необходимо, потому что:</p>
        <ul>
            <li>В момент подбора предложений от банков мы анализируем Вашу реальную кредитную историю.</li>
            <li>Мы рассчитываем реальную вероятность одобрения от каждого банка!</li>
            <li>Вы экономите свое время, отправляя заявки только в те банки, где вероятность одобрения выше.</li>
        </ul>
    </div>

</div>