<div class="wrap-partners">
    <div class="conteiner">
        <div class="title-text">
            <h2>Наши партнеры</h2>
        </div>
        <div class="convert-fl">
            <a href=""><img src="images/p1.png" alt=""></a>
            <a href=""><img src="images/p2.png" alt=""></a>
            <a href=""><img src="images/p3.png" alt=""></a>
            <a href=""><img src="images/p4.png" alt=""></a>
            <a href=""><img src="images/p5.png" alt=""></a>
            <a href=""><img src="images/p6.png" alt=""></a>
            <a href=""><img src="images/p7.png" alt=""></a>
            <a href=""><img src="images/p8.png" alt=""></a>
            <a href=""><img src="images/p9.png" alt=""></a>
            <a href=""><img src="images/p10.png" alt=""></a>
            <a href=""><img src="images/p11.png" alt=""></a>
            <a href=""><img src="images/p12.png" alt=""></a>
            <a href=""><img src="images/p13.png" alt=""></a>
            <a href=""><img src="images/p14.png" alt=""></a>
            <a href=""><img src="images/p15.png" alt=""></a>
            <a href=""><img src="images/p16.png" alt=""></a>
            <a href=""><img src="images/p17.png" alt=""></a>
            <a href=""><img src="images/p18.png" alt=""></a>
        </div>
    </div>
</div>